.button {
  padding: 50px;
}
.title {
  margin: 0;
}
button {
  text-align: center;
  padding: 10px 33px;
}
.list {
  text-align: center;
  margin: 0;
  width: 12.7%;
  list-style-type: none;
  border: 0.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  background-color: #efefef;
}
li {
  padding: 6px;
}
.list-item {
  margin: auto;
}
